
@{
    ViewBag.Title = "Sobre";
}

<head>

    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!-- Stylesheet -->
    <link rel="stylesheet" href="style.css">

</head>

<div class="container p-3" style="background-color: #15202B">
    <div class="row">

        <div class="col-md-12">
            <h3>Sobre o Projeto</h3>
            <p class="text-justify">Projeto criado para o âmbito de Tecnologias da Internet 2, sendo sobre um noticiario sobre várias temáticas.</p>
            <hr style="background-color:darkcyan"/>
        </div>
        <div class="col-md-12">
            <h3>
                A minha informação
            </h3>
            <hr style="background-color:darkcyan" />
            <div>
                <div>
                    <div class="col-12 col-lg-8">
                        <div class="contact-content mb-100">
                            <!-- Logo -->
                            <a href="#" class="d-block mb-50"><img src="~/imagens/Core_Img/logo.png" alt=""></a>

                            <!-- Single Contact Info -->
                            <div class="single-contact-info d-flex align-items-center">
                                <p>Luís Miguel Barbado Badalo</p>
                            </div>
                            <!-- Single Contact Info -->
                            <div class="single-contact-info d-flex align-items-center">
                                <p>aluno19991@ipt.pt</p>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <hr style="background-color:darkcyan" />
            <div class="col-md-12 mt-5">
                <h4>Registos do Website</h4>
                <span style="font-weight:bold">Utilizador:</span>
                <span> admin@ipt.pt</span>
                <br />
                <span style="font-weight:bold">Password:</span>
                <span> 123Qwe.</span>
                <br />
                <span style="font-weight:bold">Utilizador:</span>
                <span> Jornalista@ipt.com</span>
                <br />
                <span style="font-weight:bold">Password:</span>
                <span> 123Qwe.</span>
            </div>

        </div>
</div>