@model IdentitySample.Models.ApplicationUser

@{
    /**/

    ViewBag.Title = "Details";
}

<div class="p-4" style="background-color: #15202B;">
    <h4>Detalhes do Utilizador</h4>
    <hr style="background-color:darkcyan" />

    <dl class="dl-horizontal">
        <dt>
            <span>Login:</span>
        </dt>
        <dd>
            <span> @Html.DisplayFor(model => model.UserName)</span>
        </dd>
    </dl>

    <h4>Role do Utilizador</h4>
    <table class="table text-white">

        @foreach (var item in ViewBag.RoleNames)
        {
            <tr>
                <td>
                    <span>@item</span>
                </td>
            </tr>
        }
    </table>
    <p>
        @Html.ActionLink("Editar Roles", "Edit", new { id = Model.Id }, new { @class = "btn btn-warning btn-sm" })
    </p>
    <hr style="background-color:darkcyan" />
</div>
@Html.ActionLink("Voltar atrás", "Index", null, new { @class = "btn btn-sm btn-danger" })

